:root{
    --border-color:#ebe9e9
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size:1rem;
    font-size:1.1rem;
    color:#f7f6f6;
    font-family: sans-serif;
    flex-wrap:nowrap;
    overflow-x: scroll;
    position:relative;
    margin-top:0.3rem;
}

.row::-webkit-scrollbar{
    display: none;
}

.card-row{
    justify-content:center;
}

.text{
    color:#2b2a2a;
    margin-top:0.2rem;
    font-size:0.9rem;
}

.generic-title{
    margin-top:0.6rem;
}

.col{
    display: flex;
    flex-direction: column;
    color:#ffffff;
    font-family: sans-serif;
    /* align-items:center; */
}

.card-col{
    align-items: center;
}

