:root{
    --border-color:#ebe9e9
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size:1rem;
    font-size:1.1rem;
    color:#f7f6f6;
    font-family: sans-serif;
    flex-wrap:wrap;
    position:relative;
}

.card-row{
    justify-content:center;
}

.text{
    color:#2b2a2a;
    margin-top:0.2rem;
    font-size:0.9rem;
}


.col{
    display: flex;
    flex-direction: column;
    align-items:center;
}


